* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

input,
input::placeholder,
button,
a {
  background: transparent;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

input:focus,
input:active,
button:active,
button:focus,
a:active,
a:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
